* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


[data-theme="dark"]{
  --bg: black;
  --bg-nav: rgba(29,29,31,0.72);
  --nav-color: #fff !important;
  --h1-bg-color:black;
  --h1-bg-stroke:2px 0 0 #303030, -2px 0 0 #303030, 0 2px 0 #303030,
  0 -2px 0 #303030, 1px 1px #303030, -1px -1px 0 #303030, 1px -1px 0 #303030,
  -1px 1px 0 #303030;
  --h1-right-color: white;
  --h1-left-span-color: black; 
  --h1-left-span-stroke:2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
  1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  --p-color:#bbbbbb;
}

[data-theme ="light"]{
  --bg: #F8F8F8;
  --bg-nav: rgba(255, 255, 255, 0.72);
  --nav-color:rgba(58, 58, 58, 0.55);
  --h1-bg-color:#FFFFFF;
  --h1-bg-stroke: 2px 0 0 #C7C7C7, -2px 0 0 #C7C7C7, 0 2px 0 #C7C7C7,
  0 -2px 0 #C7C7C7, 1px 1px #C7C7C7, -1px -1px 0 #C7C7C7, 1px -1px 0 #C7C7C7,
  -1px 1px 0 #C7C7C7;
  --h1-right-color: black;
  --h1-left-span-color: white; 
  --h1-left-span-stroke:2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black,
  1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black; 
  --p-color:#000000;
      
}

#myMap {
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
}

@keyframes spin {
  from {
    transform: rotateY(0deg) scale(1);
  }
  to {
    transform: rotateY(360deg) scale(0.65);
    opacity: 0;
  }
}

@keyframes spinPhone {
  from {
    transform: rotateY(0deg) scale(0.85);
  }
  to {
    transform: rotateY(360deg) scale(0.45);
    opacity: 0;
  }
}


@keyframes spinNav {
  from {
    transform: rotateY(0deg) scale(0.55);
  }
  to {
    transform: rotateY(360deg) scale(0.55);
  }
}

@keyframes mymove {
  from {
    top: 50vh;
    left: 50%;
  }
  to {
    top: 2%;
    left: 8%;
  }
}

.home {
  width: 100vw;
  height: 100%;
  background-color: var(--bg);
}

.logoPos {
  animation: mymove 5s forwards;
  position: absolute;
  width: 200px;
}

.dark.nav--home {
  background-color: rgba(29,29,31,0.72) !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-bottom: 1px solid #47474a;
  // border-bottom: 1px solid rgb(245, 245, 247);
  // background-color: #111111 !important;
  max-height: 65px !important;
}

.light.nav--home {
  background-color: rgba(255, 255, 255, 0.72) !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
  backdrop-filter: saturate(180%) blur(20px) !important;
  border-bottom: 1px solid #47474a;
  // border-bottom: 1px solid rgb(245, 245, 247);
  // background-color: #111111 !important;
  max-height: 65px !important;
}

.imageSpin {
  animation: spin 6s forwards;
}

.imageSpinNav {
  animation: spinNav 5s linear infinite;
}

.imageSpinNav:hover {
  animation: none;
  transform: scale(0.55);
  cursor: pointer;
}
.dark .navbar-nav a {
  margin: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: white !important;
  font-size: 1.1rem !important;
  font-weight: 500 !important;
  cursor: pointer;
  transition: color 0.3s linear ;
  &:hover {
    color: #a6352f !important;
  }
}

.light .navbar-nav a {
  margin: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: black !important;
  font-size: 1.1rem !important;
  font-weight: 500 !important;
  cursor: pointer;
  transition: color 0.3s linear ;
  &:hover {
    color: #a6352f !important;
  }
}

.navbar-nav .active {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--nav-color) !important;
}

.nav-link {
  font-size: 1.1rem !important;
  font-weight: 500 !important;
}

.nav-link:hover {
  color: #a6352f !important;
}

.navbar-nav .button--cv {
  height: 40px;
}

.home__image {
  margin-right: 10px;
}
.img--avatar {
  max-width: 70%;
  border: 1px solid #525252;
  border-radius: 178.5px;
}

.home__wrapper {
  height: 100vh;
}

.home__text {
  position: relative;
  margin-left: 10px;
}

.text--back-ground {
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: 0;
  font-size: calc(1.375rem + 3 * 1.5vw) !important;
  color: var(--h1-bg-color) !important;
  text-shadow: var(--h1-bg-stroke);
}

.text--main {
  position: relative;
  z-index: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social__media-logo {
  margin-left: 5%;
  max-width: 380px;
}

.media__logo {
  color: var(--h1-right-color);
  margin-right: 20px;
  font-size: 20px;
  transition: 0.3s;
}

.media__logo:hover {
  color: #a6352f !important;
  cursor: pointer;
}

.home h1 {
  text-transform: uppercase;
  font-size: calc(2.375rem + 2 * 1.5vw);
  color: var(--h1-right-color);
  
  font-weight: medium !important;
}
.home h1 span {
  color: var(--h1-left-span-color);
  text-shadow: var(--h1-left-span-stroke);
}

.home h5 {
  margin-left: 5%;
  max-width: 380px;
  color: var(--p-color);
  font-style: italic;
}

.home__image .img--avatar {
  filter: none !important;
  -webkit-filter: grayscale(0) !important;
}

.img--avatar.animate {
  -webkit-transition: all 1s ease-in-out;
}

.home__image .img--avatar:hover {
  filter: gray !important;
  -webkit-filter: grayscale(1) !important;
}

.home__burger-menu {
  display: none;
}

//about page start
.about {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: black;
}

.about__wrapper {
  height: 100%;
}

.about__main-image {
  max-width: 468px;
  margin: auto;
}
.phone{
 text-decoration: none;
 span{
   &:hover{ 
     color: #a6352f !important;}
 }
 h4{
  &:hover{ 
    color: #a6352f !important;}
 }
}

.mail{
  text-decoration: none;
 span{
   &:hover{ 
     color: #a6352f !important;}
 }
 h4{
  &:hover{ 
    color: #a6352f !important;}
 }
}



.about__wrapper .text--main {
  text-transform: uppercase;
  font-size: calc(1.575rem + 1 * 1.5vw);
  color: var(--h1-right-color);
  font-weight: medium !important;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about__main-text {
  position: relative;

  .text--back-ground {
    position: absolute;
    font-size: calc(1.375rem + 1 * 1.5vw) !important;
    left: 43%;
    top: -39%;
  }
}

.about__main-text {
  .main-text--left {
    h3 span {
      color: var(--h1-left-span-color);
      text-shadow: var(--h1-left-span-stroke);
    }
    h3 {
      color: var(--h1-right-color);;
    }
    p {
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--p-color);
    }
  }
  .main-text--right {
    h5 {
      font-size: 20px;
      color: var(--h1-right-color);;
      font-style: normal;
      span {
        font-size: 16px;
        color: var(--p-color);
        font-style: italic;
      }
    }
  }
}
.button--cv {
  background-color: #a6352f !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 16px !important;
  border-radius: 12px !important;
  transition: 0.5s ease !important;
  height: 63px;
  border: none !important;
  &:hover {
    background-color: var(--h1-right-color) !important;
    color: var(--h1-bg-color)!important;
    cursor: pointer;
  }
}

//porfolio page start
.porfolio__wrapper{
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.porfolio-text{
  position: relative;
  .text--back-ground{
    top:-50%;
    font-size: calc(1.375rem + 3 * 2vw) !important;
   
  }
  .text-main{
    z-index: 1;
    position: relative;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.porfolio-category{
  ul{
    list-style-type: none;
  }
  ul li{
    margin-right: 10px;
    transition: color 0.3s linear;
    cursor: pointer;
  }
  .active{
    color:#a6352f ;
  }
}

//contact page start
#contact{
  min-height: 100vh;
  height: 100%;
  p{
    color:var(--p-color);
    font-style: italic;
  }
}

.porfolio-text{
  margin-bottom: 50px;
}


//style footer
.footer{
    height: 150px;
    display: flex;
    flex-wrap: wrap;
  hr{
   
    width: 100%;
    border: 1px solid var(--h1-right-color);
  }
  h4{
    color: var(--h1-right-color);
    font-size: 18px;
  }
}

//style for input focus effect
.group-input {
  position: relative;
  label {
    position: absolute;
    pointer-events: none;
    left: 28px;
    top: 13px;
    transition: 0.2s ease all;
    font-size: 18px;
    color: var(--h1-right-color);
    font-weight: normal;
    margin: 0;
  }
  input {
    background-color: var(--h1-bg-color);
    display: block;
    color: var(--h1-right-color);
    font-size: 18px;
    border: 1px solid var(--h1-right-color);
    outline: none;
    padding: 13px 28px 12px;
    border-radius: 12px;
    height: 50px;
    width: 100%;
    &:focus ~ label,
    &:valid ~ label {
      top: -26px;
      font-size: 14px;
    }
  } 
}

.message input{
  height: 95px  !important; 
}

.mapboxgl-map{
  border-radius: 12px;
}
.contact-main--right-block{
  min-height: 400px;
}

.contact-main--right-block>div{
  width: 100% !important;
}

.alert{
  border-radius: 12px !important;
  margin-top: 10px;
  margin-bottom: unset;
}

//style for item
figure.snip1328 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  text-align: center;
}

figure.snip1328 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1328 img {
  opacity: 1;
  width: 100%;
}
figure.snip1328:after,
figure.snip1328:before {
  background: #ffffff;
  width: 0;
  height: 100%;
  position: absolute;
  content: '';
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  border-radius: 12px;
}
figure.snip1328:after {
  top: 0;
  left: 0;
}
figure.snip1328:before {
  right: 0;
  bottom: 0;
}
figure.snip1328 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
figure.snip1328 h2,
figure.snip1328 p {
  margin: 0;
  width: 100%;
  opacity: 0;
}
figure.snip1328 h2 {
  padding: 0 30px;
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1328 p {
  padding: 0 50px;
  font-size: 0.8em;
  font-weight: 500;
}
figure.snip1328 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
figure.snip1328:hover img,
figure.snip1328.hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1328:hover:after,
figure.snip1328.hover:after,
figure.snip1328:hover:before,
figure.snip1328.hover:before {
  width: 100%;
  height: 100%;
}
figure.snip1328:hover figcaption h2,
figure.snip1328.hover figcaption h2,
figure.snip1328:hover figcaption p,
figure.snip1328.hover figcaption p {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1328:hover figcaption h2,
figure.snip1328.hover figcaption h2 {
  opacity: 1;
}
figure.snip1328:hover figcaption p,
figure.snip1328.hover figcaption p {
  opacity: 0.7;
}




@media only screen and (max-width: 991px) {


  .home h1 {
    font-size: calc(2.375rem + 1 * 1vw) !important;
    margin: auto;
    max-width: 380px;
    
  }

  .text--back-ground {
    top: -20%;
    left: 20%;
  }

  .home__text {
    margin: auto;
    text-align: center;
  }

  .home__text h5 {
    margin: auto;
  }

  .social__media-logo {
    margin: auto;
    margin-top: 10px;
  }

  .offcanvas {
    z-index: 1051 !important;
    width: 70% !important;
    background-color: #111111 !important;

    color: #bbbbbb;

    .burger__button-close {
      font-size: 24px;
      margin: 14px;
      cursor: pointer;
      transition: 0.3s;
      :hover {
        color: #a6352f !important;
      }
    }

    .burger__nav {
      margin-top: 20%;
    }

    img {
      width: 100px !important;
    }

    .burger__nav a {
      text-align: center;
      cursor: pointer;
      color: #bbbbbb;
      transition: 0.3s;
      margin-top: 5px;
      margin-bottom: 5px;
      &:hover {
        color: #a6352f !important;
      }
    }
    .burger__nav .active {
      text-decoration: underline;
      text-underline-position: under;
      color: white !important;
    }


    h5 {
      font-size: 1rem !important;
    }
  }

  .porfolio-text{
    .text--back-ground{
      left: 0;
    }
  }
  #contact{
    p{
      margin: auto;
      text-align: center;
      margin-bottom: 30px;
    }
    .porfolio-text{
      .text--back-ground{
        max-width: none;
      }
    }
  }

  .footer{
    display: none;
  }

  .contact-main{
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 575px) {

  .imageSpin {
    animation: spinPhone 6s forwards;
  }

  .nav--home {
    display: none !important;
  }

  .home__burger-menu {
    display: unset;
    position: fixed;
    // margin-left: 80%;
    margin-left: 0%;
    margin-top: 20px;
      z-index: 2;
    
  }
  .about__main-text {
    text-align: center;
    .main-text--left {
      h3 {
        text-align: center;
      }
      p {
        margin: auto;
        text-align: center;
        width: 80%;
      }
    }
    .text--back-ground {
      left: 32%;
    }
  }


  .button--cv {
    height: 43px;
    font-weight: medium !important;
  }

  .porfolio__wrapper{
    .item-img {
      margin: auto;
    }
  }

  .porfolio-text {
  .text-main{
    text-align: center ;
  }
  .text--back-ground{
    left: 10%;
    font-size: calc(1.175rem + 3 * 2vw) !important;
  }
  }
}
